@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  font-family: "Roboto", sans-serif;
}

*,
body,
html {
  padding: 0;
  margin: 0;
}

body {
  background: #ede7f6;
}

.container {
  width: 90%;
  margin: auto;
}
